.wrap{
    width: 1200px;
    margin: 0 auto;
}
.img{                
    width: 320px;
    height: 120px;
}
.box{
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px gray;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
 label{
    width: 35%;
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom:10px;
    text-align: right;
 }   
 input{
    width: 96px;
    padding: 0.5rem 1.5rem;
    box-sizing: border-box;
    border: 1px solid  #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
 }                                                                                           